@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body{
    background-color: #081369;
}

.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    text-transform: uppercase;
}

.navbar-container img{
    cursor: pointer;
}

.navbar-container ul{
    display: flex;
    list-style-type: none;
}

.navbar-container ul li{
  padding: 0 50px;
}

.navbar-container ul li a{
    text-decoration: none;
    color: white;
}

.container{
    background-color: white;
    border-radius: 20px;
    margin: 30px 50px;
    padding: 30px 80px;
}

.etud{
    display: flex;
    padding: 20px 0;
}

.etud input{
    border: 1px solid #6D90E1;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin: 0 20px;
    outline: none;
}

.comp-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.comp{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 20px 0;
}

.comp input{
    width: 30px;
    height: 30px;
    border: 1px solid #6D90E1;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#supprimer{
    background-color: white;
    border: 2px solid #6D90E1;
    border-radius: 20px;
    color: #6D90E1;
    padding: 8px 0;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

#modifier{
    background-color: #6D90E1;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 8px 0;
    cursor: pointer;
    width: 150px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #6D90E1;
    padding: 20px 0;
    height: 250px;
    margin-top: 50px;
}

.footer div{
    margin-top: 50px;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer p{
    color: #081369;
    font-weight: bold;
    width: 200px;
}

.footer .icons img{
    padding: 0 5px;
    cursor: pointer;
}