@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body{
    background-color: #081369;
}

.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    text-transform: uppercase;
}

.navbar-container img{
    cursor: pointer;
}

.navbar-container ul{
    display: flex;
    list-style-type: none;
}

.navbar-container ul li{
  padding: 0 50px;
}

.navbar-container ul li a{
    text-decoration: none;
    color: white;
}

.header a {
    margin-left: 10%;
    font-size: 20px;
    color: #fff;
    transition: 0.03s;
    text-decoration: none;
}

.header a:hover {
    color: #6D90E1;
    text-decoration: underline;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 25px;
	margin: 15px auto 30px auto;
	width: 800px;
	background: white;
	border-radius: 20px;
}

.container form {
    margin:0 auto 0 auto;
	overflow:hidden;
    width: 65%;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}

.container h2 {
    justify-content: center;
    font-weight: 700;
    text-align: center;
}

.container label {
        color:rgb(0, 0, 0);
        font-weight: 700;
        font-size: 19px;
        line-height: 45px;
}

.container form input , select {
    cursor:pointer;
	padding:10px 5px;
	width:100%;
	outline:none;
	border:3px solid #6D90E1;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}


[type="date"]::-webkit-calendar-picker-indicator {
    cursor:pointer;
}

.container form  select {
    position: relative;
    margin: 0 40px 0 0px;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url('../../images/2116877_down_arrow_icon.svg') ;
    background-position: 96% 50% ;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    transition: 0.3s;
}

.container form select:focus{
    background-color: transparent;
    color: #6D90E1;
}

.container .btn {
    text-decoration: none;
    margin: 35px 0;
    padding:5px 50px;
	width: 200px;
    height: 47px;
	border: 4px solid #081369;
    border-radius: 40px;
	color:#081369;
    font-size: 17px;
    transition: 0.3s;
	cursor:pointer;
	display:inline-flex;
    transition: 0.03s;
}
.container .btn:hover{
    background-color: #6D90E1;
	border: 4px solid #ffffff;
	color:#ffffff;
}

.container .submit-btn{
    float: right;
    clear: right;
}

.container .reset {
    float: left;
    clear: left;
    margin-left: 70px;
}

.container .btn i {
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    right: 20%;
}

.container img {
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 120px;
    border: 2px solid #6D90E1;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #6D90E1;
    padding: 20px 0;
    height: 250px;
    margin-top: 50px;
}

.footer div{
    margin-top: 50px;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer p{
    color: #081369;
    font-weight: bold;
    width: 200px;
}

.footer .icons img{
    padding: 0 5px;
    cursor: pointer;
}

/*######################### MEDIA QUERIES (SMALL DEVICES) ######################*/
@media screen and (max-width : 600px) {
    .navbar-container ul {
        display: inline-flex;
        list-style-type: none;
    }

    .navbar-container ul li {
        padding: 0 5px;
    }

    .navbar-container img {
        width: 90px;
        height: 90px;
    }

    .container{
        margin: 5px auto 30px auto;
        width: 400px;
    }

    .container .btn {
        margin: 25px 0;
        padding:5px 5px;
        width: 100px;
        height: 39px;
        font-size: 13px;
    }

    .container .btn i {
        margin-left: 5px;
        font-size: 1.2rem;
        right: 10%;
    }

    .footer {
        display: block;
        height: max-content;
    }

    .footer div {
        margin: 0 30%;
        text-align: center;
    }

    .footer>img {
        margin: 0 35%;
    }
}