@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body {
    background-color: #081369;
}

.navbar-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    text-transform: uppercase;
}

.navbar-container img {
    cursor: pointer;
}

.navbar-container ul {
    display: flex;
    list-style-type: none;
}

.navbar-container ul li {
    padding: 0 50px;
}

.navbar-container ul li a {
    text-decoration: none;
    color: white;
}

.header {
    display: block;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.search .ajout {
    width: 279px;
    height: 30px;
    background: rgba(109, 144, 225, 0.7);
    border: 4px solid #FFFFFF;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    transition: 0.3s;
}

.search .ajout:hover {
    background: #081369;
    border: 4px solid rgba(109, 144, 225, 0.7);
}

.search .ajout a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.search .ajout i {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    position: relative;
    right: 10%;
}

.search input[type=text] {
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    padding: 5px;
    margin: 50px 0;
    width: 700px;
    height: 40px;
    background-color: #081369;
    background-image: url('../../images/search.png');
    background-position: 10px 6px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    color: white;
    outline: none;
}

.search input[type=text]::placeholder {
    color: white;
    font-size: 17px;
}

.download {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.download .btn {
    width: 160px;
    height: 20px;
    background: rgba(109, 144, 225, 0.7);
    border: 4px solid #FFFFFF;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 0px;
    font-size: 17px;
    color: white;
    transition: 0.3s;
}

.filter .btn:hover {
    background: #081369;
    border: 4px solid rgba(109, 144, 225, 0.7);
}

.board-container {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 3rem;
    margin: 20px 100px;
}

.composant {
    background: #F1F5F7;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 230px;
}
.header hr {
    background: #6D90E1;
    border: 1px solid #6D90E1;
    margin: 10px 100px;
}

.composant img {
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 35%;
    width: 85px;
    height: 90px;
}

.composant-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 30px;
}

.composant-info .name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.composant-info .qte {
    font-style: normal;
    font-size: 15px;
    margin: 0% 50%;
}

.composant hr {
    background: #585858;
    border: 0.6px solid #585858;
    margin: 4px 20px;
}

.composant-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.composant-actions a:hover i {
    color: #6D90E1;
}

.composant-actions i {
    color: black;
    font-size: 2rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #6D90E1;
    padding: 20px 0;
    height: 250px;
    margin-top: 50px;
}

.footer div {
    margin-top: 50px;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer p {
    color: #081369;
    font-weight: bold;
    width: 200px;
}

.footer .icons img {
    padding: 0 5px;
    cursor: pointer;
}

/*######################### MEDIA QUERIES (SMALL DEVICES) ######################*/
@media screen and (max-width : 600px) {
    .navbar-container ul {
        display: inline-flex;
        list-style-type: none;
    }

    .navbar-container ul li {
        padding: 0 5px;
    }

    .navbar-container img {
        width: 90px;
        height: 90px;
    }

    .search .ajout {
        width: 160px;
        height: 20px;
        margin-left: 10px;
        padding: 15px;
    }

    .search .ajout a {
        font-size: 11px;
    }

    .search .ajout i {
        font-size: 15px;
        right: 10%;
    }

    .search input[type=text] {
        width: 250px;
    }

    .search input[type=text]::placeholder {
        font-size: 15px;
    }

    .download {
        margin: 2% 40%;
        padding: 0;
    }

    .header hr {
        margin: 10px 60px;
    }

    .board-container {
        grid-template-columns: 5fr;
        gap: 2rem;
        margin: 20px 120px;
    }

    .footer {
        display: block;
        height: max-content;
    }

    .footer div {
        margin: 0 30%;
        text-align: center;
    }

    .footer>img {
        margin: 0 35%;
    }

}